#hack {
	ol {
		list-style: decimal;
		text-indent: 2ch;
		margin-left: 2ch;
	}

	ol.undone, ul.undone {
		>li {
			.title {
				margin-right: 1em;
			}

			.date {
				margin-right: 1em;
				font-size: small;
			}
		}
	}
}